body{
    width: 1128px;
    margin: 0 auto;
    font-family: 'Poppins', Yeseva One, cursive,  sans-serif;;
}

/* Part 01 - Stay Focused on Mission 2022 */
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    display: block;
    margin-left: auto;
}
h1{
    font-size: 60px;
    font-weight: 400;
    font-family: Yeseva One;
    line-height: 80px;
    margin-bottom: auto;
    margin-left: 15px;
}
#mission-tiitle-left-liner{
    background: #FF5959;
    width: 4px;
    height: 126px;
    position: absolute;
    top: 167px;
    border-radius: 5px;
}
.yellow-color{
    color: #FFAD5A;
}
.button{
    text-decoration: none;
    color: #fff;
    padding: 12px 40px;
    background: #FF5959;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}
.mission-left{
    margin-top: 9%;
}
.mission-left p{
    margin-top: 20px;
    width: 90%;
    font-size: 18px;
}
#scroll-down{
    margin-top: 30px;
}

/* Part 02 - My Mission in 2022 */
h2{
    font-size: 48px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
}
.my-mission{
    
}
.one-third-width{
    width: 30%;
    padding: 25px;
    margin: 0 12px;
    border-radius: 26px;
}
.one-third-width img{
    width: 40%;
}
.one-third-width h3{
    font-size: 24px;
}
#my-mission-one-third{
    background-color: #EDF5F6;
}
#my-vision-one-third{
    background-color: #FFEEEE;
}
#my-goals-one-third{
    background-color: #FFF4D6;
}